<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxmoa.myhzt.mapper.generator.ComplaintsMapper">
  <resultMap id="BaseResultMap" type="com.zxmoa.myhzt.bean.generator.Complaints">
    <id column="complaintsid" jdbcType="VARCHAR" property="complaintsid" />
    <result column="riverid" jdbcType="VARCHAR" property="riverid" />
    <result column="fromusername" jdbcType="VARCHAR" property="fromusername" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="modifytime" jdbcType="VARCHAR" property="modifytime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zxmoa.myhzt.bean.generator.ComplaintsWithBLOBs">
    <result column="complaintscontent" jdbcType="LONGVARCHAR" property="complaintscontent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    complaintsid, riverid, fromusername, tel, createtime, modifytime, status
  </sql>
  <sql id="Blob_Column_List">
    complaintscontent
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zx_complaints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zx_complaints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zx_complaints
    where complaintsid = #{complaintsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsKey">
    delete from zx_complaints
    where complaintsid = #{complaintsid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsExample">
    delete from zx_complaints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsWithBLOBs">
    insert into zx_complaints (complaintsid, riverid, fromusername, 
      tel, createtime, modifytime, 
      status, complaintscontent)
    values (#{complaintsid,jdbcType=VARCHAR}, #{riverid,jdbcType=VARCHAR}, #{fromusername,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{modifytime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{complaintscontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsWithBLOBs">
    insert into zx_complaints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="complaintsid != null">
        complaintsid,
      </if>
      <if test="riverid != null">
        riverid,
      </if>
      <if test="fromusername != null">
        fromusername,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="complaintscontent != null">
        complaintscontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="complaintsid != null">
        #{complaintsid,jdbcType=VARCHAR},
      </if>
      <if test="riverid != null">
        #{riverid,jdbcType=VARCHAR},
      </if>
      <if test="fromusername != null">
        #{fromusername,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="complaintscontent != null">
        #{complaintscontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsExample" resultType="java.lang.Long">
    select count(*) from zx_complaints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zx_complaints
    <set>
      <if test="record.complaintsid != null">
        complaintsid = #{record.complaintsid,jdbcType=VARCHAR},
      </if>
      <if test="record.riverid != null">
        riverid = #{record.riverid,jdbcType=VARCHAR},
      </if>
      <if test="record.fromusername != null">
        fromusername = #{record.fromusername,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        modifytime = #{record.modifytime,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.complaintscontent != null">
        complaintscontent = #{record.complaintscontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update zx_complaints
    set complaintsid = #{record.complaintsid,jdbcType=VARCHAR},
      riverid = #{record.riverid,jdbcType=VARCHAR},
      fromusername = #{record.fromusername,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      complaintscontent = #{record.complaintscontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zx_complaints
    set complaintsid = #{record.complaintsid,jdbcType=VARCHAR},
      riverid = #{record.riverid,jdbcType=VARCHAR},
      fromusername = #{record.fromusername,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsWithBLOBs">
    update zx_complaints
    <set>
      <if test="riverid != null">
        riverid = #{riverid,jdbcType=VARCHAR},
      </if>
      <if test="fromusername != null">
        fromusername = #{fromusername,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="complaintscontent != null">
        complaintscontent = #{complaintscontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where complaintsid = #{complaintsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zxmoa.myhzt.bean.generator.ComplaintsWithBLOBs">
    update zx_complaints
    set riverid = #{riverid,jdbcType=VARCHAR},
      fromusername = #{fromusername,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      complaintscontent = #{complaintscontent,jdbcType=LONGVARCHAR}
    where complaintsid = #{complaintsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxmoa.myhzt.bean.generator.Complaints">
    update zx_complaints
    set riverid = #{riverid,jdbcType=VARCHAR},
      fromusername = #{fromusername,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where complaintsid = #{complaintsid,jdbcType=VARCHAR}
  </update>
</mapper>