<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxmoa.myhzt.mapper.generator.UserMapper">
  <resultMap id="BaseResultMap" type="com.zxmoa.myhzt.bean.generator.User">
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="orgid" jdbcType="VARCHAR" property="orgid" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createuserid" jdbcType="VARCHAR" property="createuserid" />
    <result column="modifyuserid" jdbcType="VARCHAR" property="modifyuserid" />
    <result column="modifytime" jdbcType="VARCHAR" property="modifytime" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zxmoa.myhzt.bean.generator.UserWithBLOBs">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="eps" jdbcType="LONGVARCHAR" property="eps" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userid, username, email, sex, account, password, tel, orgid, filepath, duty, status, 
    createuserid, modifyuserid, modifytime, createtime
  </sql>
  <sql id="Blob_Column_List">
    remark, eps
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zxmoa.myhzt.bean.generator.UserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zxmoa.myhzt.bean.generator.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.zxmoa.myhzt.bean.generator.UserKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zx_user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zxmoa.myhzt.bean.generator.UserKey">
    delete from zx_user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxmoa.myhzt.bean.generator.UserExample">
    delete from zx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxmoa.myhzt.bean.generator.UserWithBLOBs">
    insert into zx_user (userid, username, email, 
      sex, account, password, 
      tel, orgid, filepath, 
      duty, status, createuserid, 
      modifyuserid, modifytime, createtime, 
      remark, eps)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{duty,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createuserid,jdbcType=VARCHAR}, 
      #{modifyuserid,jdbcType=VARCHAR}, #{modifytime,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR}, #{eps,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxmoa.myhzt.bean.generator.UserWithBLOBs">
    insert into zx_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="orgid != null">
        orgid,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createuserid != null">
        createuserid,
      </if>
      <if test="modifyuserid != null">
        modifyuserid,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="eps != null">
        eps,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="modifyuserid != null">
        #{modifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="eps != null">
        #{eps,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxmoa.myhzt.bean.generator.UserExample" resultType="java.lang.Long">
    select count(*) from zx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zx_user
    <set>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.orgid != null">
        orgid = #{record.orgid,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null">
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null">
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null">
        createuserid = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyuserid != null">
        modifyuserid = #{record.modifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        modifytime = #{record.modifytime,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.eps != null">
        eps = #{record.eps,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update zx_user
    set userid = #{record.userid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      orgid = #{record.orgid,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      createuserid = #{record.createuserid,jdbcType=VARCHAR},
      modifyuserid = #{record.modifyuserid,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=LONGVARCHAR},
      eps = #{record.eps,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zx_user
    set userid = #{record.userid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      orgid = #{record.orgid,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      createuserid = #{record.createuserid,jdbcType=VARCHAR},
      modifyuserid = #{record.modifyuserid,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxmoa.myhzt.bean.generator.UserWithBLOBs">
    update zx_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null">
        createuserid = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="modifyuserid != null">
        modifyuserid = #{modifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="eps != null">
        eps = #{eps,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zxmoa.myhzt.bean.generator.UserWithBLOBs">
    update zx_user
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createuserid = #{createuserid,jdbcType=VARCHAR},
      modifyuserid = #{modifyuserid,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR},
      eps = #{eps,jdbcType=LONGVARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxmoa.myhzt.bean.generator.User">
    update zx_user
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createuserid = #{createuserid,jdbcType=VARCHAR},
      modifyuserid = #{modifyuserid,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>